@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';

main {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: $color-light-border;
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: $color-light-border;
  }

  @include breakpoint(lg) {
    height: 70vh;
    overflow-y: scroll;
  }
  @include breakpoint(xs) {
    justify-content: flex-start;
  }
  .work {
    min-height: 363px;
    font-size: 16px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
    p, a {
      color: $color-light-main;
      margin: auto 0;
      @include breakpoint(xs) {
        font-size: 14px;
      }
    }
    a {
      margin-bottom: 10px;
      text-decoration: none;
      @include breakpoint(xs) {
        margin: 0;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    &-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      text-align: center;
      .title {
        font-weight: bold;
      }
      .status {
        font-size: 14px;
        padding: 4px;
        border: 2px solid $color-light-border;
        border-radius: 30px;
        @include breakpoint(xs) {
          font-size: 12px;
          border-width: 1px;
          padding: 2px;
        }
      }
    }
    .screenshot {
      display: flex;
      align-items: center;
      width: 300px;
      height: 200px;
      overflow: hidden;
      border: 2px solid $color-light-border;
      background-color: $color-light-border;
      margin: 8px auto 16px;
      @include breakpoint(xs) {
        width: 240px;
        height: 150px;
      }
      img {
        width: 100%;
      }
    }
  }
  &.dark-mode {
    &::-webkit-scrollbar-thumb {
      background: $color-dark-border;
    }
    &::-webkit-scrollbar-thumb:window-inactive {
      background: $color-dark-border;
    }
    color: $color-dark-main;
    .work {
      .work-header {
        .title {
          color: $color-dark-main;
        }
        .status {
          border-color: $color-dark-border;
        }
      }
      .screenshot {
        border-color: $color-dark-border;
        background-color: $color-dark-border;
      }
      a {
        color: $color-dark-main;
      }
    }

  }
}
