@import './variables';

@mixin customScroll($bar-color){
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: $bar-color;
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: $bar-color;
  }
}

@mixin rounded($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin linear-gradient($from, $to, $txt){
  background-color: $to;
  background-image: -moz-linear-gradient(to right, $from, $to);
  background-image: -o-linear-gradient(to right, $from, $to);
  background-image: -webkit-linear-gradient(to right, $from, $to);
  background-image: -webkit-linear-gradient(to right, color-stop(0, $from), color-stop(1, $to));
  background-image: -ms-linear-gradient(to right, $from, $to);
  background-image: linear-gradient(to right, $from, $to);
  @if($txt){
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@mixin transform($translate){
  -webkit-transform: $translate;
  -moz-transform: $translate;
  -ms-transform: $translate;
  -o-transform: $translate;
  transform: $translate;
}

@mixin transition($property){
  -webkit-transition: $property 0.3s ease-in-out;
  -moz-transition: $property 0.3s ease-in-out;
  -o-transition: $property 0.3s ease-in-out;
  transition: $property 0.3s ease-in-out;
}

@mixin breakpoint($breakpoint){
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (max-width: map-get($breakpoints, $breakpoint)){
      @content
    }
  }
}
