@import './variables';

@mixin rounded($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin linear-gradient($from, $to){
  background-color: $to;
  background-image: -moz-linear-gradient($from, $to);
  background-image: -o-linear-gradient($from, $to);
  background-image: -webkit-linear-gradient($from, $to);
  background-image: -webkit-linear-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));
  background-image: -ms-linear-gradient($from, $to);
  background-image: linear-gradient($from, $to);
}

@mixin transform($translate){
  -webkit-transform: $translate;
  -moz-transform: $translate;
  -ms-transform: $translate;
  -o-transform: $translate;
  transform: $translate;
}

@mixin transition($property){
  -webkit-transition: $property 0.3s ease;
  -moz-transition: $property 0.3s ease;
  -o-transition: $property 0.3s ease;
  transition: $property 0.3s ease;
}

@mixin breakpoint($breakpoint){
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (max-width: map-get($breakpoints, $breakpoint)){
      @content
    }
  }
}
