$white: #fff;
$black: #000;
$dark: #202125; //background for dark mode
$blue: #2c8be7; //main blue for light mode
$light-purple: #ABBBEA; //main blue for dark mode
$light-blue: #deecf7; // line-color;
