<main [class.dark-mode]="isDarkMode">
  <section class="profile">
    <picture>
      <img src="../../../assets/images/profile.png" alt="profile image" >
    </picture>
    <div class="name">
      <h1>{{'ABOUT.NAME' | translate}}</h1>
      <h3>{{'ABOUT.POSITION' | translate}}</h3>
    </div>
  </section>

  <section class="skill-sets">
    <div class="skills">
      <ng-container *ngFor="let skill of skills">
        <span>{{skill}}</span>
      </ng-container>
    </div>

    <div class="languages">
      <span>{{'COMMON.ENG' | translate}}</span>
      <span>{{'COMMON.KOR'| translate}}</span>
      <span>{{'COMMON.JPN' | translate}}</span>
    </div>


    <div class="traits">
      <ng-container *ngFor="let trait of traits">
        <span>{{'ABOUT.'+ trait | translate}}</span>
      </ng-container>
    </div>
  </section>
</main>

